<h1>Add a new manufacturer:</h1>

<%= form_for @manufacturer do |f| %>

  <% if @manufacturer.errors.any? %>
    <ul>
      <% @manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>

<a href='/manufacturers'>Return to manufacturers without saving</a> | <a href='/'>Home</a> | <a href='/cars'>Cars In Inventory</a>
